<ul class="top_left_form">
	<li>
		<b>Update your location</b>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

	<li>
		<%= f.text_field :address, :placeholder => "Address"%>
	</li>

	<li>
		<%= f.text_field :city, :placeholder => "City" %>
	</li>

	<li>
	<%= f.text_field :state, :placeholder => "State" %>
	</li>

	<li>
		<%= f.submit "Update location" %>
	</li>
<% end %>
</ul>
