<%= form_for @delivery do |f| %>
	<% if @delivery.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>
			<ul>
				<% @delivery.errors.full_messsages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<% if user_signed_in? %>
	<div id="left_side">
	<%= f.collection_select(:source, @locations, :id, :name) %>
		<%= f.label :pickup_time %>
		<%= select_date %>
		<%= f.time_select :pickup_time %>
	<% end %>
  </div>

	<div id="right_side">
		<%= f.collection_select(:destination, @locations, :id, :name) %>
		<%= f.label :deadline %>
		<%= select_date %>
		<%= f.time_select :dead_line %><br />
	<b>Is the package sensitive to temperatures?(<i>Does it require refrigeration</i>)</b>
		<%= f.label :temperature_sensitive %>
		<%= f.check_box :temperature_sensitive %>
		<%= f.submit %>
	</div>
<% end %>	
