<!DOCTYPE html>
<html>
<head>
  <title>WillametteExpress</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
	
	<div id="top">
		<% if not user_signed_in? %>
			<%= render :partial => 'devise/sessions/new' %>
		<% else %>
			<div class="inline">
				<%= link_to 'Logout', destroy_user_session_path, :method => :delete %>  
			</div>
			<%= render :partial => 'devise/registrations/edit_location' %>
		<% end %>
			<div id="logo">
				<%= image_tag 'willamette-express.png' %>
			</div>	
		
			<div id="some_text_at_the_top">	
				<b>Need to run an errand and don't have time? These are just some of the things we could deliver!</b>
			<ul id="feature_list">
				<%= image_tag('wheel.png')%><li class="inline">Take-out from restaurants</li>
				<%= image_tag('wheel.png')%><li class="inline">Alcohol</li>
				<%= image_tag('wheel.png')%><li class="inline">Condoms</li>
				<%= image_tag('wheel.png')%><li class="inline">Tacos</li>
				<%= image_tag('wheel.png')%><li class="inline">Smokes</li>
				<%= image_tag('wheel.png')%><li class="inline">Important documents</li>
				<%= image_tag('wheel.png')%><li class="inline">Ammunition</li>
				<%= image_tag('wheel.png')%><li class="inline">A reptile</li>
				<%= image_tag('wheel.png')%><li class="inline">Carrots</li>
				<%= image_tag('wheel.png')%><li class="inline">You!</li>
			</ul>
		</div>
		
		<div>
			<p id="page_header">WILLAMETTE EXPRESS</p>
		</div>
		<div>
			<p id="motto">"Your parcel is important.....unlike our employees!"</p>
		</div>
			

	</div>

	<div id="middle">
		<div id="notice_and_alert">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
		<div id="content">
			<%= @content_for_layout %>
			<%= yield %>
			<%= yield :scripts %>
		</div>
	</div>
</body>
</html>
